@font-face {
	font-family: Creepville;
	src: url("/font/RW-creepsville.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Double Feature;
	src: url("/font/DoubleFeature20.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Shock Horror;
	src: url("/font/Shock Horror.otf");
	font-weight: bold;
}

@font-face {
	font-family: OhTheHorror;
	src: url("/font/OhTheHorror.ttf");
	font-weight: bold;
}

@font-face {
	font-family: BloodThirsty;
	src: url("/font/Bloodthirsty.ttf");
	font-weight: bold;
}

.notify-good {
	font-family: Georgia, serif;
	color: rgb(20, 230, 20);
	text-shadow: 1px 1px 2px black;
	background-color: rgb(60, 60, 60);
	border-radius: 15px;

	text-align: center;
	max-width: auto;
	padding: 3px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
}

.notify-bad {
	font-family: Georgia, serif;
	color: rgb(250, 20, 20);
	text-shadow: 1px 1px 2px black;
	background-color: rgb(60, 60, 60);
	border-radius: 15px;

	text-align: center;
	max-width: auto;
	padding: 3px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
}

.myform {
	background-color: rgba(50, 50, 50, 0.7);
	padding: 10px;
	margin: auto;
	max-width: 300px;
	text-align: center;
}

.myform input {
	margin-top: 5px;
}

.myform a {
	color: rgb(10, 10, 10);
}

ul {
	display: inline-block;
	background-color: rgb(40, 40, 40);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 5px;
}

li {
	float: left;
}

li a {
	display: block;

	color: rgb(230, 230, 230);
	font-size: 17px;
	font-style: italic;

	text-decoration: none;
	text-align: center;
	padding: 14px 16px;

	font-family: Georgia, serif;
	transition: background-color 0.3s;
}

li a:hover {
	background-color: rgb(230, 40, 40);
}

#menu-container {
	text-align: center;
}

#menu {
	background-color: rgb(40, 40, 40);
	border-radius: 5px;

	text-align: center;
	overflow: hidden;
	padding: 5px;
	margin-bottom: 20px;
}

#menu a {
	background-color: rgb(30, 30, 30);
	color: rgb(230, 230, 230);
	font-size: 17px;
	font-style: italic;

	text-decoration: none;
	text-align: center;
	padding: 14px 16px;

	font-family: Georgia, serif;
	border-radius: 5px;
	transition: background-color 0.3s;
	margin-left: 2px;
	margin-right: 2px;
}

#menu a:hover {
	background-color: rgb(230, 40, 40);
}

.menu_selected {
	background-color: rgb(230, 40, 40);
	color: rgb(230, 230, 230);
	font-size: 17px;
	font-style: italic;

	text-decoration: none;
	text-align: center;
	padding: 14px 16px;

	font-family: Georgia, serif;
	border-radius: 5px;
	transition: background-color 0.3s;
	margin-left: 2px;
	margin-right: 2px;
}

#logo {
	text-align: center;
	font-family: monospace;
	font-size: 30px;
}

#copyright {
	text-align: right;
	font-family: monospace;
	font-size: 14px;
	font-style: italic;
}

body {
	color: rgb(240, 240, 240);
	background-color: rgb(25, 25, 25);
	font-family: Georgia, serif;
}

p {
	color: white;
	text-shadow: 2px 2px 2px #e2e28c;
	font-family: Georgia, serif;
}

h1 {
	font-family: "Shock Horror";
	font-family: "Double Feature";
	font-size: 80px;
	color: rgb(240, 40, 40);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

h1 a {
	color: inherit;
	font-family: inherit;
	text-decoration: inherit;
}

h2 {
	font-family: "OhTheHorror", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	text-shadow: 2px 2px 5px rgb(200, 40, 40);
	color: rgb(240, 230, 230);
	text-align: center;
}

/* GALLERY.php */

/* #pages { */
/*	display: flex; */
/*	flex-direction: row; */
/*	background-color: rgb(40, 40, 40); */
/*	justify-content: center; */
/* } */

/* #pages a { */
/*	margin-left: 5px; */
/*	margin-right: 5px; */
/* } */

#gallery-container {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
}

.pic-holder {
	background-color: rgb(50, 50, 50);
	border-radius: 5px;
	display: flex;
	flex-direction: column;

	width: 350px;
	height: 500px;
	margin: 5px;
	padding: 5px;
}

.pic {
	width: 350px;
	height: 300px;
	border-radius: 5px;
}

.thumb {
	width: 30px;
	height: 30px;
	filter: contrast(20%);
	transition: filter 0.3s;
}

.thumb:hover {
	filter: none;
}

.thumb-count {
	display: flex;
	flex-direction: row;
}

.input-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.comments-holder {
	background-color: rgb(60, 60, 60);
	overflow: auto;
	min-height: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.delete-cross {
	width: 16px;
	height: 16px;
}

.comment {
	display: flex;
	flex-direction: row;
}

.comment p {
	margin: 0px;
	padding: 0px;
}

/* PICTURE.PHP */

#big-container {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
}

#pics-container {
	flex-grow: 1;
	background-color: rgba(50, 50, 50, 0.7);
	text-align: center;
	padding-bottom: 10px;
	margin-left: 10px;

	border-radius: 10px;
	max-width: 300px;
	height: 611px;

	overflow-y: auto;

	margin-left: auto;
}

.pic-preview {
	max-width: 200px;
	max-height: 150px;
	margin: auto;
	padding-top: 10px;
}

.pic-preview img {
	max-width: 200px;
	max-height: 150px;
	border-radius: 5px;
}

#filters-container {
	display: flex;
	justify-content: space-around;
	background-color: rgb(0, 0, 0);
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 5px;
}

.filter {
	width: 150px;
	height: 150px;
	filter: contrast(20%);
	transition: filter 0.3s;
}

.filter:hover {
	filter: none;
}

.selected {
	filter: none;
}

#camera-container {
	position: relative;
	margin-left: auto;
}

#camera-container button {
	width: 100%;
	height: 30px;
	border-radius: 5px;
}

.camera-view {
	background-color: rgba(50, 50, 50, 0.7);
	border-radius: 10px 10px 0px 0px;
	width: 560px;
	height: 420px;
}

video {
	border-radius: 10px 10px 0px 0px;
}

#localpic-preview {
	border-radius: 10px 10px 0px 0px;
	width: 560px;
	height: 420px;
}

.camera-under {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.camera-over {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	border-radius: 5px;
}
